<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理员 - 排行榜</title>
    <link th:href="@{/admin_theme/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link th:href="@{/admin_theme/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin/dashboard}">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3">管理员后台</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/dashboard}"><i class="fas fa-fw fa-tachometer-alt"></i><span>主页</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/leaderboard}"><i class="fas fa-fw fa-list-ol"></i><span>排行榜</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/favorites}"><i class="fas fa-fw fa-heart"></i><span>收藏</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/likes}"><i class="fas fa-fw fa-thumbs-up"></i><span>点赞</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/profile}"><i class="fas fa-fw fa-user"></i><span>个人中心</span></a>
        </li>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">管理员</span>
                            <img class="img-profile rounded-circle" th:src="@{/img/undraw_profile.png}">
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">排行榜</h1>
                <p>排行榜内容在此处填充。</p>
            </div>
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto"><span>Copyright &copy; Your Website 2025</span></div>
            </div>
        </footer>
    </div>
</div>
<script th:src="@{/admin_theme/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin_theme/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin_theme/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/admin_theme/js/sb-admin-2.min.js}"></script>
</body>
</html>